<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}LongevoTest - Jonatas Zechim{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<div class="container">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
            			<a href="{{ path('index') }}" class="navbar-brand">LongevoTest - Jonatas Zechim</a>
          			</div>
          			
          			<div class="navbar-collapse collapse" id="navbar">
            			<ul class="nav navbar-nav">
              				<li><a href="{{ path('customer_index') }}">Clientes</a></li>
              				<li><a href="{{ path('saleorder_index') }}">Pedidos</a></li>
          					<li><a href="{{ path('ticket_index') }}">Tickets</a></li>
            			</ul>
          			</div>
				</div>
      		</nav>

			<div class="row">
				<div class="col-xs-12">
	        		{% block body %}{% endblock %}
        		</div>
	        </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
