{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Clientes</h1>

	{% if pagination.total > 0 %}
		<table class="table table-striped">
	        <thead>
	            <tr>
	                <th>ID</th>
	                <th>Nome</th>
	                <th>E-mail</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for customer in pagination.result %}
	            <tr>
	                <td>{{ customer.id }}</td>
	                <td>{{ customer.name }}</td>
	                <td>{{ customer.email }}</td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
    
    {% else %}
		<div class="alert alert-warning">Nada encontrado</div>
	
	{% endif %}
	
    {% include 'AppBundle::pagination.html.twig' with {pagination: pagination} %}
{% endblock %}
