{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Tickets</h1>

	{% if flashes | length %}
		{% for flash in flashes %}
			<div class="alert alert-success">{{ flash }}</div>
		{% endfor %}
	
	{% endif %}

	<form action="{{ path('ticket_index', {page: 1}) }}" method="GET">
		<div class="row">
			<div class="col-xs-5">
				<input placeholder="E-mail" class="form-control" name="email" value="{{ email }}">
			</div>
			
			<div class="col-xs-5">
				<input placeholder="Número do Pedido" class="form-control" name="number" value="{{ number }}">
			</div>
			
			<div class="col-xs-2">
				<button class="btn btn-primary" type="submit">Pesquisar</button>
			</div>
		</div>
	</form>

	<br />
	
	
	{% if pagination.total > 0 %}
		<table class="table table-striped">
	        <thead>
	            <tr>
	                <th>ID</th>
	                <th>Cliente</th>
	                <th>Pedido</th>
	                <th>Título</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for ticket in pagination.result %}
	            <tr>
	                <td><a href="{{ path('ticket_show', {id: ticket.id}) }}">{{ ticket.id }}</a></td>
	                <td>{{ ticket.customerName }} ({{ ticket.customerEmail }})</td>
	                <td>{{ ticket.saleOrder.number }}</td>
	                <td>{{ ticket.title }}</td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
    
	{% else %}
		<div class="alert alert-warning">Nada encontrado</div>

	{% endif %}
	
	<a href="{{ path('ticket_new') }}" class="btn btn-primary">Novo Ticket</a>

    {% include 'AppBundle::pagination.html.twig' with {pagination: pagination} %}
{% endblock %}
