{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Ticket (Adicionar)</h1>
    
	<form action="" class="simple-horizontal-form" method="POST">
		<div class="row">
			<div class="col-xs-6">
				{{ form_row(form.customerName) }}
			</div>
		</div>

		<br />
		
		<div class="row">
			<div class="col-xs-6">
				{{ form_row(form.saleOrderNumber) }}
			</div>
		</div>

		<br />
		
		<div class="row">
			<div class="col-xs-6">
				{{ form_row(form.customerEmail) }}
			</div>
		</div>

		<br />
		
		
		<div class="row">
			<div class="col-xs-6">
				{{ form_row(form.title) }}
			</div>
		</div>

		<br />

		<div class="row">	
			<div class="col-xs-6">
				{{ form_row(form.observation) }}
			</div>
		</div>
		
		<br />
		
		<div class="row">
			<div class="col-xs-2">
				<button class="btn btn-primary" type="submit">Adicionar</button>
			</div>
		</div>
		
		{{ form_rest(form) }}
	</form>

{% endblock %}