{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Ticket {{ ticket.id }}</h1>

	<table class="table table-striped">
        <tbody>
            <tr>
             	<td style="width:200px"><b>Cliente</b></td>
                <td>{{ ticket.customerName }}</td>
            </tr>
            <tr>
             	<td><b>Número do Pedido</b></td>
                <td>{{ ticket.saleOrder.number }}</td>
            </tr>
            <tr>
             	<td><b>E-mail</b></td>
                <td>{{ ticket.customerEmail }}</td>
            </tr>
            <tr>
             	<td><b>Título</b></td>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
             	<td><b>Observação</b></td>
                <td>{{ ticket.observation }}</td>
            </tr>
        </tbody>
    </table>
    
	<a href="{{ path('ticket_index') }}" class="btn btn-primary">Voltar</a>
{% endblock %}
