{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Pedidos</h1>

	{% if pagination.total > 0 %}
		<table class="table table-striped">
	        <thead>
	            <tr>
	                <th>ID</th>
	                <th>Cliente</th>
	                <th>Pedido</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for saleOrder in pagination.result %}
	            <tr>
	                <td>{{ saleOrder.id }}</td>
	                <td>{{ saleOrder.customer.name }}</td>
	                <td>{{ saleOrder.number }}</td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	    
    {% else %}
		<div class="alert alert-warning">Nada encontrado</div>
	
	{% endif %}
    
    {% include 'AppBundle::pagination.html.twig' with {pagination: pagination} %}
{% endblock %}
